<%- include ("./share/head.ejs") %> 
  </head>
  <body>
    <div class="wrapper">
      <%- include ("./share/sidebar.ejs") %>
      <div class="wrapper__main" id="main">
        <div class="wrapper__main__header">
          <a href="/admin/brands" class="wrapper__main__header__title">Brand</a>
          <div class="wrapper__main__header__function">
            <form action="/admin/brands" method="get">
              <input
                type="text"
                id="search"
                name="search"
                placeholder="Search"
              />
              <button type="submit">
                <i class="ti-search"></i>
              </button>
            </form>
          </div>
          <div class="menu-toggle">
            <button id="menu-toggle" class="btn btn-secondary">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="wrapper__main__content">
          <div class="container-fluid" style="padding: 32px">
            <form class="form-search" action="/admin/brands" method="get">
              <input
                type="text"
                id="search"
                name="search"
                placeholder="Search"
              />
              <button type="submit">
                <i class="ti-search"></i>
              </button>
            </form>
            <div class="wrapper__main__content__table">
              <div class="wrapper__main__content__table__header">
                <div class="row">
                  <div class="col-6">
                    <p style="font-size: 24px">Brand List</p>
                  </div>
                  <div class="col-6">
                    <button
                      type="button"
                      class="btn btn-orange d-block"
                      style="margin-left: auto"
                      data-bs-toggle="modal"
                      data-bs-target="#addModal"
                    >
                      <em class="ti-plus"></em> Add
                    </button>
                  </div>
                </div>
              </div>
              <div class="table-responsive-xxl">
                <table
                  class="table table-striped table-bordered"
                  id="table-model"
                >
                  <thead>
                    <tr>
                      <th
                        style="
                          text-align: center;
                          min-width: 200px;
                          width: 200px;
                        "
                      >
                        <em class="ti-settings"></em>
                      </th>
                      <th style="min-width: 200px">Brand Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% brands.forEach(item => { %>
                    <tr class="tr-prod" <% if (!item.status) { %>
                      style="opacity: 0.5;" <% } %> id="<%= item._id %>">
                      <td align="center">
                        <div class="mt-2 mb-2">
                          <button
                            value="<%= item._id %>"
                            class="btn btn-danger btn-delete is-status"
                            title="Delete" >
                            <em class="ti-trash"></em>
                          </button>
                          <button
                            value="<%= item._id %>"
                            class="btn btn-secondary is-status btn-lock"
                            <% if (item.status) { %>
                              title="Lock" <% } else { %> title="Unlock" <% } %> >
                            <em class="ti-lock"></em>
                          </button>
                        </div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2 is-status">
                          <input
                            type="text"
                            class="form-control"
                            id="<%= brandModel.brandName %>"
                            value="<%= item.brandName %>"
                            placeholder="Enter brand name"
                            name="<%= brandModel.brandName %>"
                            required
                          />
                        </div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>

              <div class="wrapper__main__content__table__footer mt-4">
                <div class="row align-items-center">
                  <div class="col-4">
                    Page <%= numPage %> of <%= totalPage %>
                  </div>
                  <div class="col-8">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end m-auto">
                        <li class="page-item">
                          <form
                            action="/admin/brands<%= search %>"
                            method="post"
                          >
                            <% if (page <=1) { %>
                            <button
                              type="submit"
                              class="page-link text-dark btn disabled"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&laquo;</span>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= prevPage %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&laquo;</span>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form
                            action="/admin/brands<%= search %>"
                            method="post"
                          >
                            <% if (page < 1) { %>
                            <button
                              type="submit"
                              class="page-link text-dark btn disabled"
                              aria-label="Previous"
                            >
                              <%= page %>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= page %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn btn-orange text-white"
                              aria-label="Previous"
                            >
                              <%= page %>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form
                            action="/admin/brands<%= search %>"
                            method="post"
                          >
                            <% if (parseInt(page) + 1> totalPage) { %>
                            <button
                              type="submit"
                              class="page-link btn text-dark disabled"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 1 %>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= parseInt(page) + 1 %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 1 %>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form
                            action="/admin/brands<%= search %>"
                            method="post"
                          >
                            <% if (parseInt(page) + 2> totalPage) { %>
                            <button
                              type="submit"
                              class="page-link btn text-dark disabled"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 2 %>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= parseInt(page) + 2 %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 2 %>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form
                            action="/admin/brands<%= search %>"
                            method="post"
                          >
                            <% if (page>= totalPage) { %>
                            <button
                              type="submit"
                              class="page-link btn text-dark disabled"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&raquo;</span>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= nextPage %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&raquo;</span>
                            </button>
                            <% } %>
                          </form>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>

              <!-- The Modal -->
              <div class="modal" id="addModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Brand</h4>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                      ></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <form
                        action="/admin/brands"
                        method="post"
                        id="formSubmit"
                      >
                        <div class="mb-3 mt-3 position-relative">
                          <label for="brandName">Brand Name</label>
                          <input
                            type="text"
                            class="form-control"
                            id="<%= brandModel.brandName %>"
                            placeholder="Enter name"
                            name="<%= brandModel.brandName %>"
                            required
                          />
                        </div>
                        <button
                          type="submit"
                          id="btnSubmit"
                          class="btn btn-orange m-auto d-block is-status d-flex justify-content-between align-items-center"
                        >
                          Save
                        </button>
                      </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include ("./share/scripts.ejs") %>
  </body>
</html>
