<%- include ("./share/head.ejs") %> 
  </head>

  <body>
    <div class="login">
      <form method="post" action="/admin/login">
        <div class="login-header">
          <img src="https://cohos.in/images/admin.png" alt="" />
        </div>
        <label for="">
          <input
            type="text"
            placeholder="Username"
            id="username"
            name="username"
            value="<%= username %>"
          />
          <i class="ti-user"></i>
        </label>
        <label for="">
          <input
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            value="<%= password %>"
          />
          <i class="ti-lock"></i>
        </label>
        <button type="submit">Login</button>
      </form>
    </div>
    <%- include ("./share/message.ejs") %> <%- include ("./share/scripts.ejs")
    %>
  </body>
</html>
