<%- include ("./share/head.ejs") %> 
  </head>

  <body>
    <div class="login">
      <form id="formSubmitLogin" method="post" action="/admin/login">
        <div class="login-header">
          <img src="https://cohos.in/images/admin.png" alt="" />
        </div>
        <div class="form-item mb-4">
          <input
            type="text"
            placeholder="Username"
            id="username"
            name="username"
            value="<%= username %>"
          />
          <i class="ti-user"></i>
        </div>
        <div class="form-item mb-4">
          <input
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            value="<%= password %>"
          />
          <i class="ti-lock"></i>
        </div>
        <a style="color: #ffffff; text-align: right; display: block;" href="/admin/reset"><i class="fa fa-question-circle" aria-hidden="true"></i> Forgot password</a>
        <button class="d-flex align-items-center justify-content-center" type="submit">Login</button>
      </form>
    </div>
    <%- include ("./share/message.ejs") %> <%- include ("./share/scripts.ejs")
    %>
  </body>
</html>
