<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/css/flaticon.css" />
    <link rel="stylesheet" href="/stylesheets/css/themify-icons.css" />
    <link rel="stylesheet" href="/stylesheets/css/admin/custom.css" />
    <link rel="stylesheet" href="/stylesheets/css/admin/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <%- include ("./share/sidebar.ejs") %>
      <div class="wrapper__main" id="main">
        <div class="wrapper__main__header">
          <a href="/admin/orders"
            ><span class="wrapper__main__header__title">Order</span></a
          >
          <div class="wrapper__main__header__function"></div>
          <div class="menu-toggle">
            <button id="menu-toggle" class="btn btn-secondary">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="wrapper__main__content">
          <div class="container-fluid" style="padding: 32px">
            <div class="wrapper__main__content__table">
              <div class="wrapper__main__content__table__header">
                <div class="row">
                  <div class="col-6">
                    <p style="font-size: 24px">Order List</p>
                  </div>
                  <div class="col-6">
                    <div class="sort-data position-relative mx-2">
                      <button
                        type="button"
                        class="btn btn-orange d-block"
                        style="margin-left: auto"
                        id="btnSort"
                      >
                        <i class="fa fa-filter" aria-hidden="true"></i>
                        Filter
                      </button>
                      <div id="formSort" class="form-sort">
                        <form action="/admin/orders" method="get">
                          <div class="form-sort-item">
                            <div class="sort-item-label">Following</div>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                value="order"
                                type="checkbox"
                                id="defaultCheck1"
                                name="following1"
                              />
                              <label
                                class="form-check-label"
                                for="defaultCheck1"
                              >
                                Order
                              </label>
                            </div>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                value="prepare"
                                type="checkbox"
                                name="following2"
                                id="defaultCheck2"
                              />
                              <label
                                class="form-check-label"
                                for="defaultCheck2"
                              >
                                Prepare
                              </label>
                            </div>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                value="ship"
                                type="checkbox"
                                name="following3"
                                id="defaultCheck3"
                              />
                              <label
                                class="form-check-label"
                                for="defaultCheck3"
                              >
                                Ship
                              </label>
                            </div>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                value="paid"
                                type="checkbox"
                                name="following4"
                                id="defaultCheck4"
                              />
                              <label
                                class="form-check-label"
                                for="defaultCheck4"
                              >
                                Paid
                              </label>
                            </div>
                            <div class="form-check">
                              <input
                                class="form-check-input"
                                value="cancel"
                                type="checkbox"
                                name="following5"
                                id="defaultCheck5"
                              />
                              <label
                                class="form-check-label"
                                for="defaultCheck5"
                              >
                                Cancel
                              </label>
                            </div>
                          </div>
                          <button class="btn btn-orange d-block mx-auto mt-3">
                            Apply
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive-xxl">
                <table
                  class="table table-striped table-bordered"
                  id="table-model"
                >
                  <thead>
                    <tr>
                      <th style="text-align: center; min-width: 150px">
                        <em class="ti-settings"></em>
                      </th>
                      <th style="min-width: 150px">Status</th>
                      <th style="min-width: 200px">Order Date</th>
                      <th style="min-width: 150px">Quantity</th>
                      <th style="min-width: 150px">Shipping</th>
                      <th style="min-width: 150px">Total Price</th>
                      <th style="min-width: 150px">Coupon</th>
                      <th style="min-width: 150px">Discount</th>
                      <th style="min-width: 150px">Final Price</th>
                      <th style="min-width: 220px">Name</th>
                      <th style="min-width: 220px">Phone</th>
                      <th style="min-width: 220px">Email</th>
                      <th style="min-width: 220px">Province</th>
                      <th style="min-width: 220px">District</th>
                      <th style="min-width: 220px">Commune</th>
                      <th style="min-width: 280px">Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach(item => { %>
                    <tr class="tr-prod" id="<%= item._id %>">
                      <td align="center">
                        <div class="mt-2 mb-2">
                          <button
                            value="<%= item._id %>"
                            class="btn btn-success btn-preview-order is-status"
                            title="Block"
                          >
                            <em class="ti-eye"></em>
                          </button>
                        </div>
                      </td>
                      <td>
                        <div class="is-status mt-2 mb-2">
                          <select
                            class="form-control"
                            name="<%= orderModel.status %>"
                            id="<%= orderModel.status %>"
                          >
                            <option
                              style="visibility: hidden"
                              value="<%= item.status %>"
                            >
                              <%= item.status %>
                            </option>
                            <option value="order">order</option>
                            <option value="prepare">prepare</option>
                            <option value="ship">ship</option>
                            <option value="paid">paid</option>
                            <option value="cancel">cancel</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2 input-group date is-status">
                          <%= (new Date(item.createdAt)).toLocaleString("en-US",
                          { year: "numeric", month: "numeric", day: "numeric",
                          hour: "numeric", minute: "numeric" }) %>
                        </div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.totalQuantity %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2 money"><%= item.shipping %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2 money">
                          <%= item.totalPrice %>
                        </div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.couponCode %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2 money">
                          <%= item.discountMoney %>
                        </div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2 money">
                          <%= item.subTotalPrice %>
                        </div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.receiverName %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.receiverPhone %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.receiverMail %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.province %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.district %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.commune %></div>
                      </td>
                      <td>
                        <div class="mb-2 mt-2"><%= item.address %></div>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>

              <div class="wrapper__main__content__table__footer mt-4">
                <div class="row align-items-center">
                  <div class="col-4">
                    Page <%= numPage %> of <%= totalPage %>
                  </div>
                  <div class="col-8">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-end m-auto">
                        <li class="page-item">
                          <form
                            action="/admin/orders"
                            method="post"
                            id="submitForm"
                          >
                            <% if (page <=1) { %>
                            <button
                              type="submit"
                              class="page-link text-dark btn disabled"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&laquo;</span>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= prevPage %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&laquo;</span>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form action="/admin/orders" method="post">
                            <% if (page < 1) { %>
                            <button
                              type="submit"
                              class="page-link text-dark btn disabled"
                              aria-label="Previous"
                            >
                              <%= page %>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= page %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn btn-orange text-white"
                              aria-label="Previous"
                            >
                              <%= page %>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form action="/admin/orders" method="post">
                            <% if (parseInt(page) + 1> totalPage) { %>
                            <button
                              type="submit"
                              class="page-link btn text-dark disabled"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 1 %>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= parseInt(page) + 1 %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 1 %>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form action="/admin/orders" method="post">
                            <% if (parseInt(page) + 2> totalPage) { %>
                            <button
                              type="submit"
                              class="page-link btn text-dark disabled"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 2 %>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= parseInt(page) + 2 %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <%= parseInt(page) + 2 %>
                            </button>
                            <% } %>
                          </form>
                        </li>
                        <li class="page-item">
                          <form action="/admin/orders" method="post">
                            <% if (page>= totalPage) { %>
                            <button
                              type="submit"
                              class="page-link btn text-dark disabled"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&raquo;</span>
                            </button>
                            <% } else { %>
                            <input
                              type="text"
                              name="page"
                              id="page"
                              value="<%= nextPage %>"
                              style="display: none"
                            />
                            <button
                              type="submit"
                              class="page-link btn text-dark"
                              aria-label="Previous"
                            >
                              <span aria-hidden="true">&raquo;</span>
                            </button>
                            <% } %>
                          </form>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="product_image_area section_padding"
      id="product_image_area"
      style="
        display: none;
        width: 70%;
        min-width: 450px;
        background-color: #f7f7f7;
      "
    >
      <div class="table-responsive">
        <table class="table table-product-detail">
          <thead>
            <tr>
              <th scope="col" style="min-width: 400px">Product</th>
              <th scope="col" style="min-width: 150px">Price</th>
              <th scope="col" style="min-width: 150px">Quantity</th>
              <th scope="col" style="min-width: 150px">Total</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <div class="product-single-close">
        <i class="ti-close" id="product-single-close"></i>
      </div>
    </div>
    <%- include ("./share/scripts.ejs") %>
  </body>
</html>
