<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/css/flaticon.css" />
    <link rel="stylesheet" href="/stylesheets/css/themify-icons.css" />
    <link rel="stylesheet" href="/stylesheets/css/admin/custom.css" />
    <link rel="stylesheet" href="/stylesheets/css/admin/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <%- include ("./share/sidebar.ejs") %>
      <div class="wrapper__main" id="main">
        <div class="wrapper__main__header">
          <a href="/admin/admins"
            ><span class="wrapper__main__header__title">Statistic</span></a
          >
          <div class="wrapper__main__header__function"></div>
          <div class="menu-toggle">
            <button id="menu-toggle" class="btn btn-secondary">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="wrapper__main__content">
          <div class="container-fluid" style="padding: 32px">
            <div class="wrapper__main__content__activity">
              <div class="row">
                <div class="col-xl-3 col-6">
                  <div class="wrapper__main__content__activity__card bg-flamigo">
                    <div class="wrapper__main__content__activity__card__logo">
                      <i class="fa fa-globe c-flamigo" aria-hidden="true"></i>
                    </div>
                    <div class="wrapper__main__content__activity__card__note">30 days ago - today</div>
                    <div
                      class="wrapper__main__content__activity__card__content"
                    >
                      <div
                        class="wrapper__main__content__activity__card__content__title"
                      >
                        Access
                      </div>
                      <div
                        class="wrapper__main__content__activity__card__content__value"
                      >
                        <%= (totalAccess).toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                        '.') %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-6">
                  <div class="wrapper__main__content__activity__card bg-apple">
                    <div class="wrapper__main__content__activity__card__logo">
                      <i class="fas fa-money-bill-alt c-apple"></i>
                    </div>
                    <div class="wrapper__main__content__activity__card__note">Total profit</div>
                    <div
                      class="wrapper__main__content__activity__card__content"
                    >
                      <div
                        class="wrapper__main__content__activity__card__content__title"
                      >
                        Profit
                      </div>
                      <div
                        class="wrapper__main__content__activity__card__content__value money"
                      >
                        <%= totalProfit %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-6">
                  <div class="wrapper__main__content__activity__card bg-guardsman-red">
                    <div class="wrapper__main__content__activity__card__logo">
                      <i class="fa fa-user c-guardsman-red" aria-hidden="true"></i>
                    </div>
                    <div class="wrapper__main__content__activity__card__note">Total subscribe</div>
                    <div
                      class="wrapper__main__content__activity__card__content"
                    >
                      <div
                        class="wrapper__main__content__activity__card__content__title"
                      >
                        Subscribe
                      </div>
                      <div
                        class="wrapper__main__content__activity__card__content__value"
                      >
                        <%= (totalCustomer).toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                        '.') %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-6">
                  <div class="wrapper__main__content__activity__card bg-cerulean">
                    <div class="wrapper__main__content__activity__card__logo">
                      <i class="fa fa-shopping-basket c-cerulean" aria-hidden="true"></i>
                    </div>
                    <div class="wrapper__main__content__activity__card__note">Total order</div>
                    <div
                      class="wrapper__main__content__activity__card__content"
                    >
                      <div
                        class="wrapper__main__content__activity__card__content__title"
                      >
                        Order
                      </div>
                      <div
                        class="wrapper__main__content__activity__card__content__value"
                      >
                        <%= (totalOrder).toString().replace(/\B(?=(\d{3})+(?!\d))/g,
                        '.') %>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper__main__content__table profit" style="margin-bottom: 32px;">
              <div class="wrapper__main__content__table__header">
                <div class="row">
                  <div class="col-6">
                    <p style="font-size: 24px">Statistic Profit</p>
                  </div>
                  <div class="col-6">
                    <div class="d-flex justify-content-end">
                      <div class="btn-group" id="btnGroupStatistic">
                        <button class="btn btn-orange btn-active" value="day">
                          Day
                        </button>
                        <button class="btn btn-orange" value="month">
                          Month
                        </button>
                        <button class="btn btn-orange" value="year">
                          Year
                        </button>
                      </div>
                      <div class="position-relative mx-2">
                        <button class="btn btn-orange" id="configStatistic">
                          Range
                        </button>
                        <div id="formStatistic">
                          <div id="dayStatistic">
                            <form id="formDay" action="" method="post">
                              <div class="form-item">
                                <span class="input-title">Start Day</span>
                                <div class="d-flex position-relative">
                                  <input
                                    type="text"
                                    value=""
                                    name="startDate"
                                    class="form-control"
                                    id="startDay"
                                    required
                                    autocomplete="off"
                                  />
                                  <label for="startDay">
                                    <span class="input-group-addon">
                                      <span class="input-group-text d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                              <div class="form-item mt-2">
                                <span class="input-title">End Day</span>
                                <div class="d-flex position-relative">
                                  <input
                                    type="text"
                                    value=""
                                    name="endDate"
                                    class="form-control"
                                    id="endDay"
                                    required
                                    autocomplete="off"
                                  />
                                  <label for="endDay">
                                    <span class="input-group-addon">
                                      <span class="input-group-text d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                              <button
                                class="btn btn-orange mt-4 d-block mx-auto"
                                type="submit"
                                id="btnSubmitStatisticDay"
                              >
                                Apply
                              </button>
                            </form>
                          </div>
                          <div id="monthStatistic" style="display: none">
                            <form id="formMonth" action="" method="post">
                              <div class="form-item">
                                <span class="input-title">Start Month</span>
                                <div class="d-flex position-relative">
                                  <input
                                    type="text"
                                    value=""
                                    name="startDate"
                                    class="form-control"
                                    id="startMonth"
                                    required
                                    autocomplete="off"
                                  />
                                  <label for="startMonth">
                                    <span class="input-group-addon">
                                      <span class="input-group-text d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                              <div class="form-item mt-2">
                                <span class="input-title">End Month</span>
                                <div class="d-flex position-relative">
                                  <input
                                    type="text"
                                    value=""
                                    name="endDate"
                                    class="form-control"
                                    id="endMonth"
                                    required
                                    autocomplete="off"
                                  />
                                  <label for="endMonth">
                                    <span class="input-group-addon">
                                      <span class="input-group-text d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                              <button
                                class="btn btn-orange mt-4 d-block mx-auto"
                                type="submit"
                                id="btnSubmitStatisticMonth"
                              >
                                Apply
                              </button>
                            </form>
                          </div>
                          <div id="yearStatistic" style="display: none">
                            <form id="formYear" action="" method="post">
                              <div class="form-item">
                                <span class="input-title">Start Year</span>
                                <div class="d-flex position-relative">
                                  <input
                                    type="text"
                                    value=""
                                    name="startDate"
                                    class="form-control"
                                    id="startYear"
                                    required
                                    autocomplete="off"
                                  />
                                  <label for="startYear">
                                    <span class="input-group-addon">
                                      <span class="input-group-text d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                              <div class="form-item mt-2">
                                <span class="input-title">End Year</span>
                                <div class="d-flex position-relative">
                                  <input
                                    type="text"
                                    value=""
                                    name="endDate"
                                    class="form-control"
                                    id="endYear"
                                    required
                                    autocomplete="off"
                                  />
                                  <label for="endYear">
                                    <span class="input-group-addon">
                                      <span class="input-group-text d-block">
                                        <i class="fa fa-calendar"></i>
                                      </span>
                                    </span>
                                  </label>
                                </div>
                              </div>
                              <button
                                class="btn btn-orange mt-4 d-block mx-auto"
                                type="submit"
                                id="btnSubmitStatisticYear"
                              >
                                Apply
                              </button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart">
                <div class="loading">
                  <span class="loader"></span>
                </div>
                <div id="chartContainer" class="chart-container"></div>
              </div>
              <div class="wrapper__main__content__table__footer mt-4">
                <span style="font-size: 12px; font-weight: bolder"
                  >Range: <span class="show-range"></span
                ></span>
              </div>
            </div>

            <div class="wrapper__main__content__table top-sale">
              <div class="wrapper__main__content__table__header">
                <div class="row">
                  <div class="col-6">
                    <p style="font-size: 24px">Top Sale Products</p>
                  </div>
                  <div class="col-6">
                    <div class="d-flex justify-content-end">
                      <div class="" >
                        <button id="btnTopSaleStatistic" class="btn btn-orange" value="top10">
                          TOP 10
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart">
                <div class="loading">
                  <span class="loader"></span>
                </div>
                <div id="chartTopSaleContainer" class="chart-container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ("./share/scripts.ejs") %>
  </body>
</html>
