<%- include ("share/head") %>
    </head>

    <body>
        <!--::header part start::-->
        <%- include ("share/menu-top.ejs") %>
            <!-- Header part end-->

            <!--================Home Banner Area =================-->
            <!-- breadcrumb start-->
            <section class="breadcrumb breadcrumb_bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb_iner">
                                <div class="breadcrumb_iner_item">
                                    <h2>Shop Category</h2>
                                    <p>Home <span>-</span> Shop Category</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb start-->

            <!--================Category Product Area =================-->
            <section class="cat_product_area section_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="left_sidebar_area">
                                <aside class="left_widgets p_filter_widgets">
                                    <div class="l_w_title">
                                        <h3>Categories</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <ul class="list">
                                            <% for(let i = 0; i < allCategories.length; i++) { %> 
                                            <li>
                                                <label for="<%= allCategories[i].prodTypeName.toLowerCase().split(' ').join('-') %>">
                                                  <%= allCategories[i].prodTypeName %> 
                                                </label>
                                                <div class="form-check">
                                                  <input class="form-check-input" 
                                                  type="checkbox" 
                                                  name="categories[]" 
                                                  id="<%= allCategories[i].prodTypeName.toLowerCase().split(' ').join('-') %>" 
                                                  value="<%= allCategories[i].prodTypeName.toLowerCase().split(' ').join('-') %>"
                                                  <%= categories.split('_').includes( allCategories[i].prodTypeName.toLowerCase().split(' ').join('-')) ? 'checked' : '' %>>
                                                </div>
                                            </li>
                                            <% } %>  
                                        </ul>
                                    </div>
                                </aside>

                                <aside class="left_widgets p_filter_widgets">
                                    <div class="l_w_title">
                                        <h3>Brand</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <ul class="list">
                                            <% for(var i = 0; i < allBrands.length; i++) { %> 
                                            <li>
                                                <label for="<%= allBrands[i].brandName.toLowerCase().split(' ').join('-') %>">
                                                  <%= allBrands[i].brandName %> 
                                                </label>
                                                <div class="form-check">
                                                  <input class="form-check-input" 
                                                  type="checkbox" 
                                                  name="brands[]" 
                                                  id="<%= allBrands[i].brandName.toLowerCase().split(' ').join('-') %>" 
                                                  value="<%= allBrands[i].brandName.toLowerCase().split(' ').join('-') %>"
                                                  <%= brands.split('_').includes( allBrands[i].brandName.toLowerCase().split(' ').join('-')) ? 'checked' : '' %>>
                                                </div>
                                            </li>
                                            <% } %> 
                                    </div>
                                </aside>

                                <aside class="left_widgets p_filter_widgets price_rangs_aside">
                                    <div class="l_w_title mb-4">
                                        <h3>Price</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <div class="range_item">
                                            <!-- <div id="slider-range"></div> -->
                                            <div class="d-flex">
                                                <div class="price_text">
                                                    <p>Price :&nbsp;&nbsp;</p>
                                                </div>
                                                <div class="price_value d-flex justify-content-center">
                                                    <input type="text" name="input-from" value="<%= fromPrice %>"
                                                    style="background-color: #fff6f8;
                                                    color: #ff3368;
                                                    max-width: 60px;
                                                    font-weight: bold;"
                                                    placeholder="min"
                                                    class="rounded price"/>

                                                    <span>&nbsp;to&nbsp;</span>

                                                    <input type="text" name="input-to" value="<%= toPrice %>"
                                                    style="background-color: #fff6f8;
                                                    color: #ff3368;
                                                    max-width: 60px;
                                                    font-weight: bold;"
                                                    placeholder="max"
                                                    class="rounded price"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                                
                                <button id="filter" class="btn_3" style="margin: 0 50px;">Filter</button>
                                
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product_top_bar d-flex justify-content-between align-items-center" style="margin-top: 10px;">
                                      <div>
                                        <button 
                                          id="sort-button" 
                                          type="button" 
                                          class="btn" 
                                          style="background-color: #ff3368; color: #fff6f8;">
                                          Sort by Price <i class="fas fa-sort-amount-up"></i>
                                        </button>
                                      </div>
                                  
                                      <div class="single_product_menu" >
                                          <p style="font-size: 18px;"><span> <%= allProducts.length %>  </span> Prodict Found</p>
                                      </div>

                                      <div class="single_product_menu d-flex">
                                        <div class="input-group">
                                            <input 
                                              id="search-input"
                                              type="text"
                                              name="search" 
                                              class="form-control rounded" 
                                              placeholder="search" 
                                              aria-describedby="inputGroupPrepend"
                                              style="background-color: #fff6f8; color:rgb(204, 50, 91); font-weight: bold;">
                                            <button 
                                              id="search-button" 
                                              type="button" 
                                              class="btn" 
                                              style="background-color: #ff3368; color: #fff6f8;">
                                              <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center latest_product_inner">
                                <% products.forEach(product => { %>
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="single_product_item">
                                          <a href="/products/<%= product._id %>">
                                            <img src="<%= product.prodImage[1].imageLink %> " alt="" />
                                          </a>
                                          <div class="single_product_text">
                                            <a href="/products/<%= product._id %>" style="visibility: initial; opacity: 1">
                                              <h4><%= product.prodName %></h4>
                                              <h3 class="money"><%= product.price %></h3></a
                                            >
                                            <button value="<%= product._id %>" class="add_cart"
                                              >+ add to cart
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                <% }) %>
                                
                                <div class="col-lg-12">
                                    
                                    <!-- hiển thị phân trang nếu có trang -->
                                    <% if(pages > 0) { %>
                                        <nav class="d-flex justify-content-center">
                                        <ul class="pagination" style="margin-top: 1rem;">
                                        
                                            <!-- FIRST ITEM -->  
                                            <% if(current == 1) { %> 
                                        <!-- // Nếu thông số http://localhost:3333/categories/1/ là 1 thì First sẽ bị disabled -->
                                                <li class="page-item disabled" >
                                                <a class="page-link"  href="" data-page="1">First</a>
                                                </li>
                                            <% } else { %>
                                            <!-- // Nếu thông số http://localhost:3333/categories/2/ từ 2 trở lên thì First sẽ bỏ disabled -->
                                                <li class="page-item">
                                                <a class="page-link"  href="" data-page="1">First</a>
                                                </li>
                                            <% } %>
                                            
                                            <!-- ITEMS  -->
                                            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
                                        <!-- // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 > -->
                                        <!-- // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
                                            <% if(i !== 1) { %>
                                                <li class="page-item disabled">
                                                <a class="page-link" href="">...</a>
                                                </li>
                                            <% } %>
                                            <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                            <!-- // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang 
                                            // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
                                            <% if(i == current) { %>
                                                <li class="page-item active">
                                                <a class="page-link" href="" data-page="<%=i%>">
                                                    <%= i %>
                                                </a>
                                                </li>
                                            <% } else { %>
                                                <li class="page-item">
                                                <a class="page-link" href="" data-page="<%=i%>">
                                                    <%= i %>
                                                </a>
                                                </li>
                                            <% } %>
                                            <% if (i == Number(current) + 2 && i < pages) { %>
                                                <li class="page-item disabled">
                                                <a class="page-link" href="">...</a>
                                                </li>
                                            <% } %>
                                            <% } %>
                                            
                                            <!-- LAST ITEM -->
                                            <% if(current == pages) { %> 
                                        <!-- // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->
                                                <li class="page-item disabled">
                                                <a class="page-link" href="">
                                                    Last
                                                </a>
                                                </li>
                                            <% } else { %>
                                            <!-- // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6 -->
                                                <li class="page-item">
                                                <a class="page-link"  href="" data-page="<%=pages%>">
                                                    Last
                                                </a>
                                                </li>
                                            <% } %>
                                        </ul>
                                        </nav>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Category Product Area =================-->

            <!-- product_list part start-->
            <section class="product_list best_seller">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="section_tittle text-center">
                                <h2>Best Sellers <span>shop</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-12">
                            <div class="best_product_slider owl-carousel">

                              <% bestSellers.forEach(bestSeller => { %>
                                <div class="single_product_item">
                                    <a href="products/<%= bestSeller._id %> ">
                                        <img src=<%=bestSeller.prodImage[0].imageLink %> alt="">
                                    </a>
                                    <div class="single_product_text">
                                        <a href="/products/<%= bestSeller._id %>" style="visibility: initial; opacity: 1">
                                            <h4>
                                                <%= bestSeller.prodName %>
                                            </h4>
                                            <h3 class="money">
                                                <%= bestSeller.price %>
                                            </h3>
                                        </a>
                                        <button value="<%= bestSeller._id %>" class="add_cart">+ add to cart</button>
                                    </div>
                                </div>
                              <% }) %>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product_list part end-->

            <!--::footer_part start::-->
            <%- include ("share/footer.ejs") %>

            <!--::javascripts:: -->
            <%- include ("share/scripts.ejs") %>



          <!-- Form -->
          <form action="/categories" name="categories"></form>

          <script>
            const formCategories = $('form[name="categories"]');
            const pageLink = $('.page-link');
            const filterBtn = $('#filter');
        
            pageLink.click(function(event) {
              event.preventDefault();
              current = $(this).data("page"); 
              
              if (current == '<%= current%>') {
                return;
              }

              if ('<%= categories%>' == '' && '<%= brands%>' == '' && '<%= fromPrice%>' == '' && '<%= toPrice%>' == '') {
                beforeSubmit(formCategories, 'page', current);
                formCategories.submit();
              } else {
                filter(current);
              }
            })

            filterBtn.click(function(event) {
              filter('1');
            })

            function filter(current) {
              let categories = '';
              let brands = '';
              let fromPrice = '';
              let toPrice = '';
              
              const checkedCategories = $('input[name="categories[]"]:checked');
              const checkedBrands = $('input[name="brands[]"]:checked');
              const fromPriceTbx = $('input[name="input-from"]');
              const toPriceTbx = $('input[name="input-to"]');

              for (let i = 0; i < checkedCategories.length; i++) {
                if (i == 0) {
                  categories = categories + $(checkedCategories[i]).val();
                } else {
                  categories = categories + '_' + $(checkedCategories[i]).val();
                }
              }

              for (let i = 0; i < checkedBrands.length; i++) {
                if (i == 0) {
                  brands = brands + $(checkedBrands[i]).val();
                } else {
                  brands = brands + '_' + $(checkedBrands[i]).val();
                }
              }

              fromPrice = fromPriceTbx.val();
              toPrice = toPriceTbx.val();

              beforeSubmit(formCategories, 'page', current);
              beforeSubmit(formCategories, 'categories', categories);
              beforeSubmit(formCategories, 'brands', brands);
              beforeSubmit(formCategories, 'fromPrice', fromPrice);
              beforeSubmit(formCategories, 'toPrice', toPrice);
              formCategories.submit();
            }

            function beforeSubmit(form, name, value) {
                var input = document.createElement("input");
                input.type = 'hidden';
                input.name = name;
                input.value = value;
                form.append(input);
            }
          </script>   
          
          <style>
            ::placeholder {
              font-weight: normal;
            }
            .price:focus, #search-input:focus {
              border: 1px solid #ff3368;
            }
            .page-link {
              color:#ff3368;
            }
            .page-item.active .page-link {
              background-color:#ec6287;
              border-color: #fc4f7d;
            }
            /* .ti-search:hover {
              color: #ff3368;
              cursor: pointer;
            } */
            #search-button:hover {
              background-color: #ff0000 !important;
              box-shadow: -1.717px 8.835px 29.76px 2.24px rgb(255 51 104 / 40%);
            }
          </style>
    </body>

    </html>