<%- include ("share/head") %>
    </head>

    <body>
        <!--::header part start::-->
        <%- include ("share/menu-top.ejs") %>
            <!-- Header part end-->

            <!--================Home Banner Area =================-->
            <!-- breadcrumb start-->
            <section class="breadcrumb breadcrumb_bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb_iner">
                                <div class="breadcrumb_iner_item">
                                    <h2>Shop Category</h2>
                                    <p>Home <span>-</span> Shop Category</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb start-->

            <!--================Category Product Area =================-->
            <section class="cat_product_area section_padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="left_sidebar_area">
                                <aside class="left_widgets p_filter_widgets">
                                    <div class="l_w_title">
                                        <h3>Browse Categories</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <ul class="list">
                                            <% for(let i = 0; i < allCategories.length; i++) { %> 
                                            <li>
                                                <a href="#"><%= allCategories[i].prodTypeName %> </a>
                                                <span>( <%= allCategories[i].amount %> )</span>
                                            </li>
                                            <% } %>  
                                        </ul>
                                    </div>
                                </aside>

                                <aside class="left_widgets p_filter_widgets">
                                    <div class="l_w_title">
                                        <h3>Brand</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <ul class="list">
                                            <% for(var i = 0; i < allBrands.length; i++) { %> 
                                            <li>
                                                <a href="#"><%= allBrands[i].brandName %> </a>
                                            </li>
                                            <% } %> 
                                    </div>
                                </aside>

                                <!-- <aside class="left_widgets p_filter_widgets">
                                    <div class="l_w_title">
                                        <h3>Color Filter</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <ul class="list">
                                            <li>
                                                <a href="#">Black</a>
                                            </li>
                                            <li>
                                                <a href="#">Black Leather</a>
                                            </li>
                                            <li class="active">
                                                <a href="#">Black with red</a>
                                            </li>
                                            <li>
                                                <a href="#">Gold</a>
                                            </li>
                                            <li>
                                                <a href="#">Spacegrey</a>
                                            </li>
                                        </ul>
                                    </div>
                                </aside> -->

                                <aside class="left_widgets p_filter_widgets price_rangs_aside">
                                    <div class="l_w_title">
                                        <h3>Price Filter</h3>
                                    </div>
                                    <div class="widgets_inner">
                                        <div class="range_item">
                                            <!-- <div id="slider-range"></div> -->
                                            <input type="text" class="js-range-slider" value="" />
                                            <div class="d-flex">
                                                <div class="price_text">
                                                    <p>Price :</p>
                                                </div>
                                                <div class="price_value d-flex justify-content-center">
                                                    <input type="text" class="js-input-from" id="amount" readonly />
                                                    <span>to</span>
                                                    <input type="text" class="js-input-to" id="amount" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product_top_bar d-flex justify-content-between align-items-center">
                                        <div class="single_product_menu">
                                            <p><span>10000 </span> Prodict Found</p>
                                        </div>
                                        <div class="single_product_menu d-flex">
                                            <h5>short by : </h5>
                                            <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                        </div>
                                        <div class="single_product_menu d-flex">
                                            <h5>show :</h5>
                                            <div class="top_pageniation">
                                                <ul>
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="single_product_menu d-flex">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="search" aria-describedby="inputGroupPrepend">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center latest_product_inner">
                                <% products.forEach(product => { %>
                                    <div class="col-lg-4 col-sm-6">
                                        <a href="./products/<%= product._id %> ">
                                        <div class="single_product_item">

                                                <img src="<%= product.prodImage[1].imageLink %> " alt="">

                                            <div class="single_product_text">
                                                <h4>
                                                    <%= product.prodName %>
                                                </h4>
                                                <h3 class="money"><%= product.price %>
                                                </h3>
                                                <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                            </div>
                                        </div>
                                    </a>
                                    </div>
                                <% }) %>
                                
                                <div class="col-lg-12">
                                    
                                    <!-- hiển thị phân trang nếu có trang -->
                                    <% if(pages > 0) { %>
                                        <nav class="mx-auto">
                                        <ul class="pagination" style="margin-top: 1rem;">
                                        
                                            <!-- FIRST ITEM -->  
                                            <% if(current == 1) { %> 
                                        <!-- // Nếu thông số http://localhost:3333/categories/1/ là 1 thì First sẽ bị disabled -->
                                                <li class="page-item disabled">
                                                <a class="page-link" href="/">First</a>
                                                </li>
                                            <% } else { %>
                                            <!-- // Nếu thông số http://localhost:3333/categories/2/ từ 2 trở lên thì First sẽ bỏ disabled -->
                                                <li class="page-item">
                                                <a class="page-link" href="/">First</a>
                                                </li>
                                            <% } %>
                                            
                                            <!-- ITEMS  -->
                                            <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %> 
                                        <!-- // Toán tử điều kiện 3 ngôi syntax: < điều_kiện ? giá_trị_1 : giá_trị_2 > -->
                                        <!-- // Nếu điều_kiện trả về true, toán tử có giá trị giá_trị_1. Ngược lại toán tử có giá trị giá_trị_2. -->
                                            <% if(i !== 1) { %>
                                                <li class="page-item disabled">
                                                <a class="page-link" href="#">...</a>
                                                </li>
                                            <% } %>
                                            <% for(; i <= (Number(current) + 2) && i <= pages; i++) { %>
                                            <!-- // Sử dụng vòng lặp để lặp qua từng trang và tăng số trang 
                                            // Trong vòng lặp for có ba biểu thức tùy chọn nên chỉ cần các bạn tách mỗi biểu thức bằng dấu `;` là oke rồi -->
                                            <% if(i == current) { %>
                                                <li class="page-item active">
                                                <a class="page-link" href="/categories/<%= i %>/">
                                                    <%= i %>
                                                </a>
                                                </li>
                                            <% } else { %>
                                                <li class="page-item">
                                                <a class="page-link" href="/categories/<%= i %>/">
                                                    <%= i %>
                                                </a>
                                                </li>
                                            <% } %>
                                            <% if (i == Number(current) + 2 && i < pages) { %>
                                                <li class="page-item disabled">
                                                <a class="page-link" href="#">...</a>
                                                </li>
                                            <% } %>
                                            <% } %>
                                            
                                            <!-- LAST ITEM -->
                                            <% if(current == pages) { %> 
                                        <!-- // Nếu số current( chỉ số phân trang ) là 6 và tổng số page là 6 thì Last bị disabled -->
                                                <li class="page-item disabled">
                                                <a class="page-link" href="#">
                                                    Last
                                                </a>
                                                </li>
                                            <% } else { %>
                                            <!-- // Ngược lại, thì Last là trang cuối cùng pages ở đây là 6 đồng nghĩa với Last là trang số 6 -->
                                                <li class="page-item">
                                                <a class="page-link" href="/categories/<%= pages %>/">
                                                    Last
                                                </a>
                                                </li>
                                            <% } %>
                                        </ul>
                                        </nav>
                                    <% } %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Category Product Area =================-->

            <!-- product_list part start-->
            <section class="product_list best_seller">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="section_tittle text-center">
                                <h2>Best Sellers <span>shop</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-12">
                            <div class="best_product_slider owl-carousel">
                                <div class="single_product_item">
                                    <img src="/images/product/product_1.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                    </div>
                                </div>
                                <div class="single_product_item">
                                    <img src="/images/product/product_2.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                    </div>
                                </div>
                                <div class="single_product_item">
                                    <img src="/images/product/product_3.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                    </div>
                                </div>
                                <div class="single_product_item">
                                    <img src="/images/product/product_4.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                    </div>
                                </div>
                                <div class="single_product_item">
                                    <img src="/images/product/product_5.png" alt="">
                                    <div class="single_product_text">
                                        <h4>Quartz Belt Watch</h4>
                                        <h3>$150.00</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- product_list part end-->

            <!--::footer_part start::-->
            <%- include ("share/footer.ejs") %>

                <!--::javascripts:: -->
                <%- include ("share/scripts.ejs") %>
    </body>

    </html>