<%- include ("share/head") %>
</head>

<body>
  <!--::header part start::-->
  <%- include ("share/menu-top.ejs") %>
  <!-- Header part end-->

  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Producta Checkout</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  <!--================Checkout Area =================-->
  <section class="checkout_area padding_top">
    <div class="container">
      <div class="billing_details">
        <form id="formSubmit" class="contact_form" action="/checkout" method="post" novalidate="novalidate">
          <div class="row">
            <div class="col-lg-8">
              <h3>Billing Details</h3>
              <div class="row contact_form">
                <div class="col-md-6 form-group p_star">
                  <label for="cusName" class="form-label"
                    >Full Name</label>
                  <input type="text" class="form-control" value="<%= user.cusName %>" id="<%= cusModel.cusName %>" name="<%= cusModel.cusName %>" required/>
                </div>
                <div class="col-md-6 form-group p_star">
                  <label for="email" class="form-label"
                    >Email</label>
                  <input type="text" class="form-control" value="<%= user.email %>" id="<%= cusModel.email %>" name="<%= cusModel.email %>" required/>
                </div>
                <div class="col-md-6 form-group p_star">
                  <label for="phone" class="form-label"
                    >Phone</label>
                  <input type="text" class="form-control" value="<%= user.phone %>" id="<%= cusModel.phone %>" name="<%= cusModel.phone %>" required/>
                </div>
                <div class="col-md-6 form-group p_star">
                  <label for="vietNamProvinces" class="form-label"
                  >Provinces</label>
                  <select   name="<%= cusModel.province %>"  class="country_select form-control" id="vietNamProvinces">
                    <% if (user.province) { %>
                      <option class="list-option" value="<%= user.province %>"><%= user.province %></option>
                    <% } %> 
                  </select>
                </div>
                <div class="col-md-6 form-group p_star">
                  <label for="vietNamDistrict" class="form-label"
                  >District</label>
                  <select name="<%= cusModel.district %>"  class="country_select form-control" id="vietNamDistrict">
                    <% if (user.district) { %>
                      <option class="list-option" value="<%= user.district %>"><%= user.district %></option>
                    <% } %> 
                  </select>
                </div>
                <div class="col-md-6 form-group p_star">
                  <label for="vietNamCommune" class="form-label"
                  >Commune</label>
                  <select  name="<%= cusModel.commune %>"  class="country_select form-control" id="vietNamCommune">
                    <% if (user.commune) { %>
                      <option class="list-option" value="<%= user.commune %>"><%= user.commune %></option>
                    <% } %> 
                  </select>
                </div>
                <div class="col-md-12 form-group">
                  <label for="adress" class="form-label"
                  >Address</label>
                  <input   name="<%= cusModel.address %>" id="<%= cusModel.address %>"  type="text" class="form-control"
                  <% if (user.address) { %>
                    value="<%= user.address %>"
                  <% } %>/>
                </div>
                  <div class="col-md-8 form-group p_star order_box">
                    <input type="text" class="form-control" id= <%= couponModel.code %>  name=<%= couponModel.code %> placeholder="ex: tet2022" />
                    <label for="f-option4" class="checkCouponMessage"></label>
                  </div>
                  <div class="col-md-4 form-group p_star order_box">
                    <button class="btn_3 addCouponButton">Add Coupon</button>
                  </div>
                <div class="col-md-12 form-group">
                  <div class="creat_account">
                    <h3>Shipping Details</h3>
                  </div>
                  <textarea class="form-control" name="orderNote" id="orderNote" rows="1"
                    placeholder="Order Notes"></textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#">Product
                      <span>Total</span>
                    </a>
                  </li>
                  <% cartDetails.forEach(cartDetail => { %>
                    <li>
                      <a href="/products/<%= cartDetail.productId %>"><%= cartDetail.productName %> 
                        <span class="middle">x <%= cartDetail.amount %></span>
                        <span class="last money"><%= cartDetail.amount*cartDetail.price %></span>
                      </a>
                    </li>
                  <% }) %>
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#">Subtotal
                      <span class="money" id="subTotalPrice" name="subTotalPrice"><%= totalCarts %></span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Discount Money
                      <span class="money discountMoney">0</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Shipping
                      <span>Flat rate: $20.00</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Total
                      <span class="money totalMoney" name="totalMoney" id="totalMoney"><%= allTotalCarts %></span>
                    </a>
                  </li>
                </ul>
                <div class="creat_account">
                  <input type="checkbox" id="f-option4" name="selector" />
                  <label for="f-option4">I’ve read and accept the </label>
                  <a href="#">terms & conditions*</a>
                </div>
                <button class="btn_3" id="btnSubmit" type="submit">Proceed to Paypal</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->


  <!--::footer_part start::-->
  <%- include ("share/footer.ejs") %>
  <!--::footer_part end::-->

  <!-- javascript-->
  <%- include ("share/scripts.ejs") %>
</body>

</html>